@import url("@/styles/theme.less");
.workflow {
  background-color: @themeColor01;
  .partone {
    padding: 0 2%;
    .partone_inner {
      max-width: 1300px;
      margin: 0 auto;
    }
    padding-bottom: 60px;
    background: url("../img/workflow_bg.png") no-repeat;
    background-position: right bottom;
    color: @bgColor01;
    h2 {
      padding-top: 50px;
      font-size: 36px;
      font-weight: 800;
      i {
        color: @themeColor01;
      }
    }
    .text {
      margin-top: 30px;
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      width: 70%;
      max-width: 1000px;
    }
  }
  .parttwo {
    max-width: 1300px;
    margin: 0 auto;
    background-color: @themeColor01;
    h2 {
      font-size: 36px;
      font-weight: 800;
      padding-top: 40px;
      color: @bgColor01;
    }
    .text {
      margin-top: 30px;
      margin-bottom: 40px;
      color: @bgColor01;
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      width: 90%;
      max-width: 1000px;
    }
  }
  .parttwo_bg {
    background-color: #f5eaf0;
    border-top-left-radius: 100px;
    padding-left: 12%;
    padding-top: 80px;
  }
}
