@import url("@/styles/theme.less");
.account {
  padding-top: 80px;
  position: relative;
  .textH4 {
    color: #ad3d3d;
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    word-break: break-all;
    position: absolute;
    top: 20px;
    left: 0;
    i {
      color: #f1842c;
      font-style: normal;
    }
  }
  ul {
    li {
      text-align: center;
      line-height: 24px;
      img,
      p,
      h4 {
        display: inline-block;
        vertical-align: middle;
        padding: 0 4px;
        font-size: 14px;
      }
      h4 {
        color: @themeColor01;
      }
    }
  }
  button {
    margin: 20px auto 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: @bgColor01;
    height: 50px;
    background: @themeColor01;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: Poppins-SemiBold;
    &.disable {
      opacity: 0.8;
    }
  }
  .now_account {
    text-align: center;
    padding-bottom: 20px;
    .polkadot_icon {
      display: inline-block;
      vertical-align: middle;
      // margin-right: 4px;
      svg {
        width: 22px;
        height: 22px;
      }
    }
    p,
    h5,
    img {
      display: inline-block;
      vertical-align: middle;
      padding: 0 4px;
      font-size: 14px;
      color: @text01;
      font-family: Poppins-SemiBold;
    }
    h5 {
      color: @themeColor01;
    }
  }
}
