@import url("@/styles/theme.less");
.join_banner {
  background: linear-gradient(135deg, #f9eff4, #ffffff);
  box-shadow: 0px 10px 12px 3px rgba(194, 170, 182, 0.1);
  border-radius: @border-radius-big-size;
  overflow: hidden;
  .join_banner_inner {
    background-color: #facce4;
    border-radius: @border-radius-big-size;
    overflow: hidden;
    position: relative;
    .join_banner_inner_inner {
      box-shadow: 0px 0px 16px 1px #fff inset;
      background: linear-gradient(135deg, #f9eff4, #ffffff);
      border-radius: @border-radius-big-size;
      position: relative;
    }
  }
  .join_banner_inner_warn {
    color: #e6007a;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    // border-radius: @border-radius-big-size;
    border-top-left-radius: @border-radius-big-size;
    border-top-right-radius: @border-radius-big-size;
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .join_banner {
    padding: 0;
    .join_banner_inner {
      padding: 0;
    }
    .join_banner_inner_warn {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px;
      line-height: 14px;
    }
  }
}
