@import url("@/styles/theme.less");
.pns {
  border-radius: @border-radius-big-size;
  background-color: @bgColor01;
  overflow: hidden;
  padding: 30px 5%;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .noAccount_button {
    // display: inline-block;
    // vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
  }
  ._h2,
  ._p,
  .btn {
    // display: inline-block;
    // vertical-align: middle;
  }
  ._h2 {
    color: #fff;
    padding: 30px 60px 40px 40px;
    font-size: 30px;
    background: url("./img/icon_pns.svg") no-repeat;
    background-size: 100% 100%;
  }
  ._p {
    padding: 0 4%;
    width: 50%;
    font-size: 14px;
    color: #343133;
    i {
      display: block;
      font-family: "Bold";
      color: @themeColor01;
      font-size: 16px;
      padding-top: 4px;
      em {
        padding-left: 10px;
        font-family: "Bold";
        font-size: 12px;
        font-style: normal;
      }
    }
  }
  .btn {
    width: 200px;
    .account {
      padding-top: 0;
    }
  }
  .account {
    .textH4 {
      position: relative;
      top: 0;
    }
  }
}
@media screen and (max-width: 930px) {
  .pns {
    display: block;
    text-align: center;
  }
  ._h2,
  ._p,
  .btn {
    display: inline-block;
    vertical-align: middle;
  }
  .btn {
    min-width: 80%;
  }
  .pns div.btn {
    width: 80%;
    margin-top: 10px;
    float: none;
  }
}
@media screen and (max-width: 750px) {
  .pns {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
  }
  .pns ._h2 {
    font-size: 20px;
    padding: 20px 24px 24px 20px;
  }
  .pns div.btn {
    width: 100%;
    margin-top: 10px;
    float: none;
  }
  .pns ._p {
    padding: 0;
    padding-top: 10px;
    width: 100%;
    font-size: 10px;
    line-height: 16px;
  }
}
