@import url("@/styles/theme.less");
.process {
  border-radius: @border-radius-big-size;
  background-color: @bgColor01;
  overflow: hidden;
  .process_header {
    background-color: @themeColor01;
    padding: 40px 5%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    li {
      color: @bgColor01;
      h3 {
        font-size: 32px;
        font-family: "Bold";
      }
      p {
        font-size: 14px;
        font-family: Medium;
      }
    }
  }
  .process_inner {
    padding: 40px 5% 60px;
    position: relative;
    background: url("./img/process_bg.png") no-repeat;
    background-size: 90% 100%;
    background-position: right center;
    h6 {
      display: none;
    }
    h4 {
      font-weight: Bold;
      font-size: 24px;
      color: @themeColor01;
      margin-bottom: 20px;
      margin-top: 10px;
      i {
        color: @text01;
        em {
          font-style: normal;
        }
      }
    }
    .text {
      font-size: 14px;
      color: #343133;
      line-height: 22px;
      max-width: 500px;
      width: 80%;
      padding-top: 40px;
    }
    .line {
      position: relative;
      h5 {
        width: 120px;
        height: 90px;
        background: url("./img/icon_process_pop.svg") no-repeat;
        background-size: 100% 100%;
        text-align: center;
        font-size: 32px;
        font-weight: Bold;
        color: @bgColor01;
        line-height: 80px;
        position: absolute;
        top: 20px;
        left: 73%;
      }
      .line_bg {
        width: 70%;
        height: 20px;
        border-radius: 6px;
        background-color: #facce4;
        box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.08);
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.08);
        i {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 30px;
          background: linear-gradient(90deg, #ee55f0, #e6007a);
        }
      }
    }
    .icon_bg_err {
      position: absolute;
      bottom: 16px;
      right: 6%;
    }
  }
}
@media screen and (max-width: 750px) {
  .process .process_header {
    display: block;
    width: 80%;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .process .process_header li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
  }
  .process .process_header li h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .process .process_header li p {
    font-size: 10px;
  }
  .process .process_inner {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
  }
  .process .process_inner .icon_bg_err {
    z-index: 1;
    opacity: 0.9;
  }
  .process .process_inner .line h5 {
    // width: 100px;
    // height: 60px;
    // font-size: 20px;
    // left: 60%;
    // top: 10px;
    // line-height: 50px;
    display: none;
    // background: none;
    // position: relative;
    // height: 20px;
    // font-size: 12px;
    // color: #e6007a;
    // top: 0;
    // left: 0;
  }

  .process .process_inner h4 {
    font-size: 20px;
    font-family: "Bold";
    padding-bottom: 0;
    margin-bottom: 10px;
    i {
      // display: block;
      font-size: 20px;
      // font-family: "Medium";
      em {
        font-size: 16px;
      }
    }
  }
  .process .process_inner .text {
    font-size: 10px;
    position: relative;
    z-index: 2;
    line-height: 16px;
    padding-top: 30px;
  }
  .process .process_inner .line .line_bg {
    width: 100%;
    height: 10px;
  }
}
